body {background-color:#FF73B3; filter:contrast(1);}
h1 {color:#F9B53C; filter:contrast(1);}
h2 {color:#F9B53C; filter:contrast(1);}
a {color:#F9B53C;}
body {color:#F6F190; filter:contrast(1);}
nav {background-color:#300004;}
nav a {color:#F9B53C;}
nav a:hover {background-color: #000164;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
.img {float: left; margin-right: 10px}
.clear {clear: both;}
.part2 {display: flex;}
table,th,td {border: 1px solid black;}
.header {text-align: center;}
.parent {display: flex; justify-content: space-around;}
.sidebar {background-color: #300004; border-radius: 25px; position: absolute; right: 0%}
.flexbox2 {display:flex; flex-basis: 75%; justify-content: space-between;  margin: 10px; padding: 10px;}
.flexbox1 {flex-basis: 25%; margin: 10px; padding: 10px;}
.otto {max-width: 100%;}
.row2 {flex-wrap: wrap;}
@media only screen and (max-width: 600px)
{ nav a {display:block;} 
span {display:none;}}
@media only screen and (min-width: 600px)
{ nav a {display:inline;}
span {display:inline;} }